---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import Heading from './utils/Heading.astro'
const { blok } = Astro.props

console.log(blok)
---

<section class="container" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="max-w-xl mx-auto">
    {
      blok.title && (
        <div class="text-center">
          <RichText content={blok.title} />
        </div>
      )
    }
  </div>

  <div class="mt-12 max-w-lg mx-auto">
    <div class="flex flex-col card card-border rounded-[var(--radius-box)] p-4 sm:p-6 lg:p-8">
      <Heading tag={blok.formTag} classlist="mb-8 text-xl font-semibold" content={blok.formTitle} />

      <form id="contact-form" name={Astro.url.pathname} method="POST" data-success={blok.success}>
        <input type="hidden" value=`${import.meta.env.WEB3FORMS_ACCESS_KEY}` name="access_key" />
        <input type="hidden" name="subject" value="Vous avez un nouveau contact !" />

        <div class="grid gap-4 lg:gap-6">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
              <label for="prenom" class="block mb-2 text-sm text-base-content/85 font-medium">Prénom</label>
              <input
                required
                type="text"
                name="prenom"
                id="prenom"
                class="text-base-content py-2.5 sm:py-3 px-4 block w-full card card-border rounded-[var(--radius-field)] sm:text-sm focus:border-accent focus:ring-accent disabled:opacity-50 disabled:pointer-events-none"
              />
            </div>

            <div>
              <label for="nom" class="block mb-2 text-sm text-base-content/85 font-medium">Nom</label>
              <input
                required
                type="text"
                name="nom"
                id="nom"
                class="text-base-content py-2.5 sm:py-3 px-4 block w-full card card-border rounded-[var(--radius-field)] sm:text-sm focus:border-accent focus:ring-accent disabled:opacity-50 disabled:pointer-events-none"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:gap-6">
            <div>
              <label for="email" class="block mb-2 text-sm text-base-content/85 font-medium">Email</label>
              <input
                required
                type="email"
                name="email"
                id="email"
                autocomplete="email"
                class="text-base-content py-2.5 sm:py-3 px-4 block w-full card card-border rounded-[var(--radius-field)] sm:text-sm focus:border-accent focus:ring-accent disabled:opacity-50 disabled:pointer-events-none"
              />
            </div>

            <div>
              <label for="telephone" class="block mb-2 text-sm text-base-content/85 font-medium">
                Numéro de téléphone
              </label>
              <input
                type="text"
                name="telephone"
                id="telephone"
                required
                class="text-base-content py-2.5 sm:py-3 px-4 block w-full card card-border rounded-[var(--radius-field)] sm:text-sm focus:border-accent focus:ring-accent disabled:opacity-50 disabled:pointer-events-none"
              />
            </div>
          </div>

          <div>
            <label for="message" class="block mb-2 text-sm text-base-content/85 font-medium">Message</label>
            <textarea
              required
              id="message"
              name="message"
              rows="4"
              class="text-base-content py-2.5 sm:py-3 px-4 block w-full card card-border rounded-[var(--radius-field)] sm:text-sm focus:border-accent focus:ring-accent disabled:opacity-50 disabled:pointer-events-none"
            ></textarea>

            <fieldset class="fieldset rounded-box">
              <label class="fieldset-label">
                <input type="checkbox" class="checkbox checkbox-accent" required />
                <span class="p-4 body-sm text-base-content">
                  {blok.rgpd}
                </span>
              </label>
            </fieldset>
          </div>
        </div>

        <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />

        <div class="mt-6 grid">
          <button type="submit" class="btn btn-accent">Envoyer</button>
        </div>

        <div class="mt-3 text-center text-xs text-base-content/50">
          <RichText content={blok.info} />
        </div>

        <div id="result" class="mt-3 text-center text-xs text-base-content/50"></div>
      </form>
    </div>
  </div>
</section>
<!-- End Contact Us -->

<script>
  const form = document.getElementById('contact-form')
  const result = document.getElementById('result')
  const success = form?.dataset.success

  if (form) {
    form.addEventListener('submit', function (e) {
      e.preventDefault()
      const formData = new FormData(form)
      const object = Object.fromEntries(formData)
      const json = JSON.stringify(object)
      result.innerHTML = "En cours d'envoi..."

      fetch('https://api.web3forms.com/submit', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json'
        },
        body: json
      })
        .then(async (response) => {
          let json = await response.json()
          if (response.status == 200) {
            result.innerHTML = success
          } else {
            console.log(response)
            result.innerHTML = json.message
          }
        })
        .catch((error) => {
          console.log(error)
          result.innerHTML = 'Une erreur est survenue.'
        })
        .then(function () {
          form.reset()
          setTimeout(() => {
            result.style.display = 'Aucune réponse.'
          }, 3000)
        })
    })
  }
</script>
