---
import { storyblokEditable } from '@storyblok/astro'
import RichText from './utils/RichText.astro'
import Heading from './utils/Heading.astro'
import { Image } from 'astro:assets'
import InlineSvg from './utils/InlineSvg.astro'
const { blok } = Astro.props
---

<section class="container" {...storyblokEditable(blok)} data-aos="fade-up">
  <div class="max-w-xl mx-auto mb-8">
    {
      blok.title && (
        <div class="text-center">
          <RichText content={blok.title} />
        </div>
      )
    }
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12">
    {
      blok.image?.filename && (
        <div class="overflow-hidden rounded-[var(--radius-box)]">
          <Image
            class="object-cover max-h-[500px]"
            src={blok.image.filename}
            alt={blok.image.alt}
            priority={blok.image.loading === 'eager' ? true : false}
            inferSize
          />
        </div>
      )
    }

    <div class="space-y-8 lg:space-y-16">
      {
        blok.infos &&
          blok.infos.map((info) => (
            <div>
              <Heading tag={info.tag} classlist="mb-5 font-semibold" content={info.title} />
              <div class="grid  gap-4 sm:gap-6 md:gap-8 lg:gap-12">
                {info.items.map((item) => (
                  <div class="flex gap-4">
                    {item.image && (
                      <div class="shrink-0 size-5">
                        {item.image.filename.endsWith('.svg') && <InlineSvg src={item.image.filename} />}
                        {!item.image.filename.endsWith('.svg') && (
                          <NetlifyImage src={item.image.filename} alt={item.image.alt} />
                        )}
                      </div>
                    )}
                    <div class="grow">
                      <RichText content={item.content} />
                    </div>
                  </div>
                ))}
              </div>
            </div>
          ))
      }
    </div>
  </div>
</section>
